@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Assistant&family=Ephesis&family=Martel+Sans&family=Poppins&family=Saira+Extra+Condensed&family=Space+Grotesk&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./quotes.jpg) no-repeat center center/ cover;
    padding: 1rem;
}
.container{
    width: 550px;
    height: 450px;
    border-radius: 5px;
}
.header{
    font-size: 1.2rem;
    color: white;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    backdrop-filter: blur(16px);
    box-shadow: 0 0 11px black;
    
}
.quote-container{
    width: 100%;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
    padding: 50px 40px;
    border-radius: 8px;
    margin-top: 16px;
    backdrop-filter: blur(16px);
    box-shadow: 0 0 11px black;

}

.quote-container .text-area{
    font-size: 1.5rem;
    line-height: 1.5;
}
.quote-container .person{
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}
.button-area button{
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
    font-size: 1.3rem;
    margin-top: 20px;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
}